textarea {
    height: 25vw !important;
    width: 37vw !important;
}

.text-fidget {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

.text-parent {
    width: 100vw;

}